.english-body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: blue;
}

#go-back-button{
    position: fixed;
   size: min-content;
   top: 10px;
   left: 10px;
   font-family: "Times New Roman", serif;
   background-color: blue;
   color: white;
   border: 1px solid white;
}

#go-back-button:hover{
    background-color: rgb(146, 155, 175);
    color: rgb(18, 18, 255);
    cursor: pointer;
}

.score-board{
    position: absolute;
     top: 10vh;
    left: 50vw;
    height: min-content;
    width : auto;
    margin: 20px;
    padding: 7px;
    border: 1px solid black;
    background-color: red;
    color: black;
    font-family: "Times New Roman", serif;
}

.question{
    left: 50vw;
    top: 10vh;
    size: auto;
    margin: 20px;
    padding: 7px;
    border: 1px solid black;
    background-color: yellow;
}

.choices{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.choiceButtonA, .choiceButtonB, .choiceButtonC, .choiceButtonD{
    height: min-content;
    width: auto;
    padding: 4px;
    border: 1px solid rgb(37, 0, 0);
    background-color: orange;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}

.choiceButtonA:hover, .choiceButtonB:hover, .choiceButtonC:hover, .choiceButtonD:hover{
    background-color: rgb(55, 33, 0);
    color: rgb(206, 124, 0);
    cursor: pointer;
}